@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Привет</h1>
    <p>Отображается список студентов из базы </p>
</div>

<div class="row mb-auto">
    @if (Model.Students != null)
{

    @foreach (var item in Model.Students)
    {
        <p>Student Name is @item.id + @item.lastName  @item.firstMidName</p>
    }
}
else
{
     <p>В базе нет записей</p>
}
</div>