@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row mb-auto">
    @if (Model.Students != null)
{

    @foreach (var item in Model.Students)
    {
        <p>Student Name is @item.LastName + " " + @item.FirstMidName</p>
    }
}
else
{
     <p>Не удалось вычитать</p>
}
</div>