name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Login to Docker Hub
      run: docker login -u nixeramus -p ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: API Build the Docker image 
      run: docker build . --file ./api/Dockerfile --tag nixeramus/api:latest
      working-directory: ./api
      
    - name: UI Build the Docker image 
      run: docker build . --file ./ui/Dockerfile --tag nixeramus/ui:latest
      
    - name: API Push  Docker image to Docker Hub 
      run: docker push nixeramus/api:latest
      
    - name: UI Push  Docker image to Docker Hub 
      run: docker push nixeramus/ui:latest
